<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810273520335-dcudmeiu2u5s8lfmub26e7hlh6arerou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810273520335-dcudmeiu2u5s8lfmub26e7hlh6arerou</string>
	<key>API_KEY</key>
	<string>AIzaSyDYotDPcTbfdO8y8g43Fk0o7xftXZlIKRU</string>
	<key>GCM_SENDER_ID</key>
	<string>810273520335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>S-Traffic</string>
	<key>PROJECT_ID</key>
	<string>fir-traffic-a5c0b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-traffic-a5c0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810273520335:ios:c5338946aae120b8a815ba</string>
</dict>
</plist>